[2018-09-30 06:39] chennakeshava1998 opened #1 "Implement of K-means Clustering"
Implement the k-means clustering algorithm.

1. In the README file, provide examples that show that the results are dependent on the initial - choice of the centroids
2. Plot the elbow curve after running the algorithm for different values of centres, and suggest an optimal value for the same.

[2018-09-30 06:48] chennakeshava1998 opened #2 "Shuffling labels in ImageNet and CIFAR10 dataset"
This is with respect to the research paper on "Understanding Deep Learning requires rethinking generalization".

Reproduce the results of the experiment on shuffling the labels of the ImageNet dataset. More precisely, we need to shuffle the labels of the images in this dataset and verify if the training accuracy can indeed be reduced to zero.

We would prefer a graph of decreasing error and the mo

[2018-10-01 08:01] bordia98 opened #3 "Hactoberfest End Time Timer bugs"
Working of End time timer it gets stuck once the website loaded
Moving the logos of **WebClub** and **IEEE** in new line

[2018-10-01 19:22] #3 closed

[2018-10-02 17:38] sharanyakamath opened #8 "Find the majority element in the array."
### Description
Given an array A of N elements. Find the majority element in the array.
A majority element in an array A of size N is an element that appears more than N/2 times.

### Details
Technical Specifications: C/C++/Python
Type of issue: Single
Time Limit: 3 days

### Directory Structure
Name the code file as <your_name>.cpp and save it inside 'algorithms' --> 'majority_element' folder.
Eg

[2018-10-02 17:52] archana98priya opened #9 "Find the bug in the function"
int minval(int *A, int n) {
  int currmin;

  for (int i=0; i<n; i++)
    if (A[i] < currmin)
      currmin = A[i];
  return currmin;
}

[2018-10-02 17:53] sharanyakamath opened #10 "Find the bug in Insertion in Linked List code"
Find the bug in the following code to insert a value into an ordered linked list:

`void insert(lnode*& curr, int val) {`
`if (curr == NULL)`
`curr = new lnode(val, NULL);`
`else if (lnode->val > val)`
 `curr = new lnode(val, curr->next);`
 `else {`
 `curr = curr->next;`
 `insert(curr, val);`
 `}`
`}`

Submit the code after correcting the bug.

[2018-10-02 18:40] archana98priya opened #11 "Dijkstra Algorithm"
### Description
Write a program to implement Dijkstra Algorithm.

### Details
Technical Specifications: Language to be used -C/ C++
Type of the issue: Single
Time limit: 5 days

### Directory Structure
Name your cpp file as <your_name>.cpp and save it inside 'algorithms' --> 'dijkstra' folder.
Add your code file inside this folder.
e.g : path: `algorithms/dijsktra/<your_name>.cpp`

#### Note
Pleas

[2018-10-02 18:44] ShashankP19 opened #12 "Predict species of iris flower using K Nearest Neighbors model"
### Description
Given the dataset on iris flowers, predict the species of flower given the following features :
1. sepal length
2. sepal width
3. petal-length
4. petal-width

There are three species:
1. virginica
2. setosa
3. versicolor

Use K Nearest Neighbors classifier
The dataset can be found ![here](https://archive.ics.uci.edu/ml/datasets/iris)

### Details
- Technical Specifications: This is

[2018-10-02 18:45] sharanyakamath opened #13 "Next Greater Number"
### Description
Given a number n, find the smallest number that has same set of digits as n and is greater than n. If x is the greatest possible number with its set of digits, then print “not possible”.

ex:
Input: n = "1234"
Output: "1243"

Input: n = "4321"
Output: "Not Possible"

### Details
- Technical Specifications: C/C++/Python
- Type of issue: Single
- Time Limit: 3 days

### Issue Progres

[2018-10-02 20:36] Ram-Aditya opened #16 "First-come, First-serve process scheduling"
### Description
- Implement the First-Come, First-Serve process scheduling algorithm.

- The input to your algorithm must be a 2-D array that contains values for(Burst Time, Arrival Time) for 10 processes. Initialize random values for each of the 2 attributes for each process and print this table.
- The expected output is the list of statements that show the order in which processes were scheduled

[2018-10-02 20:56] Ram-Aditya opened #17 "Object oriented relational database system"
### Description
Implement a simple object-oriented relational database that can store and retrieve student details.
The implementation consists of 4 steps.

**1. Create classes/structures**

You need to create a class/structure and add functionalities to the same, for the following Database entities:

- Database: The Database class provides access to a collection of static data that are the global

[2018-10-02 21:09] Ram-Aditya opened #18 "TCP protocol implementation"
### Description
Implement a simple TCP protocol to open a TCP connection and retrieve data from the client.

- Consider a function named as client() as the client and the function named server() as the server. The communication between the client and server is through calling one function from the other. The data to be passed is passed as an argument to the called function. The data returned by th

[2018-10-02 21:21] mishal23 opened #19 "Scroll to Top Plugin"
### Description
Create a scroll to top button plugin, which could be used on any site by including the CSS, JS made.
Websites usually need a scroll to top button in their websites as it enhances the User Experience.

Write your own CSS and do not use any library (Bootstrap/Materialize etc).

### Details
- Technical Specifications: Vanilla JS/CSS
- Type of issue: Single
- Time Limit: 2 days

### Di

[2018-10-02 21:27] mishal23 opened #20 "Simple Mailer"
### Description
Tons of media websites use newsletter to engage readers onto their websites. Underlying is usually a script which sends the email in bulk to the users. There are lot of libraries to send emails in each language. Use them to create a simple mailer sending a “Hello World” mail to minimum two users.

### Details
- Technical Specifications: Node.js/PHP/Python/Ruby
- Type of issue: Mult

[2018-10-02 22:52] utkarsh23 opened #22 "Horizontal line loader animation"
### Description
![youtube loader image](https://user-images.githubusercontent.com/12075549/46380566-59f44000-c6c0-11e8-8529-cd3d02188dde.png)
Sites like Medium, YouTube and Flickr use a horizontal line loading animation along the topmost edge of the web page. Recreate this animation effect for 6 seconds in the following manner:
* first 3 seconds, loader moves from 0% to 60%
* loader stalls for 1 s

[2018-10-02 23:22] utkarsh23 opened #23 "Image search in bash terminal"
### Description
![catpix image](http://radek.io/assets/images/posts/catpix/panda.png)
[catpix](https://github.com/pazdera/catpix) is a very interesting tool that renders images in your bash terminal. Your task is to write a shell script to input a user query and `n` - number of results that the user wants to see (max 10). So with [catpix](https://github.com/pazdera/catpix) and any image search API

[2018-10-02 23:49] utkarsh23 opened #24 "Justified Layout Web UI for Images"
### Description
![photos web ui](https://user-images.githubusercontent.com/12075549/46382766-5d8cc480-c6ca-11e8-9e05-e01f30e25c36.png)

Flickr open sourced it's Justified Layout Algorithm in 2016. Flickr uses this algorithm to find the ideal layout for a set of images that need to be scaled in a way that preserves its aspect ratio and also provides a clean user experience as every image fits in. U

[2018-10-03 06:55] aditigupta17 opened #26 "Generate nth Fibonacci number in assembly code"
### Description
Generate nth Fibonacci number in the sequence. Take a number n as an input. Display nth Fibonacci number as the output. You are allowed to use RISC-V/MIPS/MASM for the purpose.

### Details
- Technical Specifications:
- Type of issue: No more than one implementation will be accepted for each language. Once the implementation for a language has been taken up (i.e if it is checked in

[2018-10-03 07:01] aditigupta17 opened #27 "Implement Caesar Cipher"
### Description
The Caesar Cipher technique is one of the earliest and simplest method of encryption technique. It’s simply a type of substitution cipher, i.e., each letter of a given text is replaced by a letter some fixed number of positions down the alphabet. For example with a shift of 1, A would be replaced by B, B would become C, and so on.

Thus to cipher a given text we need an integer val

[2018-10-03 07:04] aditigupta17 opened #28 "Implement Diffie-Hellman Key Exchange Algorithm"
### Description
The Diffie-Hellman algorithm is being used to establish a shared secret that can be used for secret communications while exchanging data over a public network using the elliptic curve to generate points and get the secret key using the parameters.

#### Explanation:
For the sake of simplicity and practical implementation of the algorithm, we will consider only 4 variables, one prim

[2018-10-03 07:20] aditigupta17 opened #29 "Implement RSA Algorithm"
### Description
RSA algorithm is asymmetric cryptography algorithm. Asymmetric actually means that it works on two different keys i.e. Public Key and Private Key. As the name describes that the Public Key is given to everyone and Private key is kept private.

An example of asymmetric cryptography :
A client (for example browser) sends its public key to the server and requests for some data.
The se

[2018-10-03 16:12] ColesSA commented on #18
Hello. I would like to claim this issue in java for myself. Thank you.

[2018-10-03 20:19] ShashankP19 opened #33 "Predict the quality of wine using various ML classifiers"
### Description
Given dataset with different features of wine, predict its quality. The quality is an integral score between 0 and 10.
The dataset can be found [here](https://archive.ics.uci.edu/ml/datasets/wine+quality)
The given features are
1. fixed acidity
2. volatile acidity
3. citric acid
4. residual sugar
5. chlorides
6. free sulfur dioxide
7. total sulfur dioxide
8. density
9. pH
10. sulph

[2018-10-05 07:56] pvgupta24 opened #36 "Add contributor details"
### Description
Add a file containing your details as mentioned [here](https://github.com/WebClub-NITK/Hacktoberfest-2k18/blob/master/introductions/README.md).

### Details
- Setup git using the [given instructions](https://gitter.im/Hacktoberfest-NITK-2018/Lobby)
- **Type of issue**: Multiple (Multiple PRs can reference this issue)
- **Time Limit**: Submit the PR by Oct 05, 11:59 pm IST

### Issu

[2018-10-05 20:12] shreyasseshadri opened #89 "Application of Kfolds on Single Layered Perceptron using the iris dataset."
### Description
Implement a Single Layered Perceptron on the iris dataset with k-fold cross validation without the use of libraries that contain implementation of the same.

### Details
- Technical Specifications: Python
- Type of issue: Single (Only the python implementaion is considered).
- Time Limit: 3 days

### Issue requirements / progress
- [ ] Plot the accuracy and loss over the iterations

[2018-10-05 23:16] stuajnht commented on #22
Hi,

I'd like to work on this issue please.

[2018-10-06 03:09] Aj163 commented on #13
I am new to open source, and I think I have all prerequisite knowledge required to solve this issue, and I would like to work on it. Please guide me for the same.

[2018-10-06 03:15] sharanyakamath opened #91 "Hello World script"
### Description
Add a program to print Hello World in any programming language of your choice.

### Details
- Technical Specifications: Any programming language
- Type of issue: Single
- Time Limit: 2 days

### Directory Structure
Create a folder of the programming language inside hello_world folder in algorithms. Save your file inside this named as <your_name>.extension
Eg: `algorithms/hello_worl

[2018-10-06 03:18] Aniket-Pradhan commented on #91
Doing one for Python. ^.^

[2018-10-06 03:21] sharanyakamath opened #92 "Implement Binary Search"
### Description
Implement binary search in any programming language of your choice.

### Details
- Technical Specifications: Any programming language
- Type of issue: Multiple
- Time Limit: 2 days

### Resources
Learn more about binary search [here.](https://en.wikipedia.org/wiki/Binary_search_algorithm)

### Issue Requirements
- [x] C
- [x] Java
- [x] Ruby
- [x] Python

### Directory Structure
Cr

[2018-10-06 03:35] archana98priya opened #94 "Implement Bubble Sort"
### Description
Implement Bubble Sort in any programming language of your choice.

### Details
- Technical Specifications: Any programming language
- Type of issue: Single
- Time Limit: 2 days

### Resources
Learn more about binary search [here](https://www.tutorialspoint.com/data_structures_algorithms/bubble_sort_algorithm.htm).

### Directory Structure
Create a folder of your programming languag

[2018-10-06 03:57] maarthi28 commented on #94
@archana98priya i would like to work on this

[2018-10-06 04:01] shakeelsamsu commented on #91
Wokring on a solution in Java!

[2018-10-06 04:49] maarthi28 commented on #94
@archana98priya refer with the created PR

[2018-10-06 05:10] Casey-McCray commented on #94
I would like to work on this

[2018-10-06 05:28] #11 closed

[2018-10-06 05:58] cesargralmeida commented on #92
Implemented Binary Search in Ruby

[2018-10-06 06:09] andymac-2 commented on #17
Can I take this one on in C?

[2018-10-06 06:10] mahim23 commented on #17
@andymac-2 sure you can start working on it.

[2018-10-06 06:20] yogi1700 opened #100 "Spam Mail Detection"
### Description
Add code for supervised machine learning algorithms.

[2018-10-06 06:50] mahim23 commented on #91
@shakeelsamsu Sure you can work on it.

[2018-10-06 06:51] mahim23 commented on #100
@yogi1700 Please follow our [Contributing Guidelines](https://github.com/WebClub-NITK/Hacktoberfest-2k18/blob/master/.github/CONTRIBUTING.md) if you would like to create a new issue.

[2018-10-06 07:02] mahim23 commented on #94
@maarthi28 Couldn't find any PR by you referencing this issue.

[2018-10-06 08:01] v-chmykov commented on #92
Implementing Binary Search in Python

[2018-10-06 08:15] aditigupta17 commented on #91
I would like to claim this issue for C++.

[2018-10-06 10:49] SUMUKHA-PK commented on #29
Claiming python.

[2018-10-06 11:27] rohit-mp commented on #91
I have a solution for Java

[2018-10-06 11:29] mahim23 commented on #29
@SUMUKHA-PK you can start working on it.

[2018-10-06 12:31] LShun commented on #94
Hi I'm working on bubble sort in C.

[2018-10-06 14:36] Brabec commented on #94
Howdy! I would like to join in this work.

[2018-10-06 16:28] #8 closed

[2018-10-06 16:31] #36 closed

[2018-10-06 17:45] Manask322 commented on #89
I would like to work on this issue

[2018-10-06 19:59] utkarsh23 commented on #22
@stuajnht sure you can
create a pull request referencing this issue

[2018-10-06 22:12] shakeelsamsu commented on #27
Working on a solution in Java!

[2018-10-06 22:40] cemysf commented on #33
I would like to work on this

[2018-10-07 05:37] insane-abhi commented on #16
I want to take upon this issue.

[2018-10-07 05:44] Ram-Aditya commented on #16
Which language would you like to take it up in?

On Sun, 7 Oct 2018, 11:07 insane-abhi, <notifications@github.com> wrote:

[2018-10-07 06:13] Ram-Aditya commented on #16
@insane-abhi  Which language would you like to take it up in?

[2018-10-07 06:36] SUMUKHA-PK commented on #13
Claiming python.

[2018-10-07 06:52] insane-abhi commented on #16
C++

[2018-10-07 07:43] Ram-Aditya commented on #16
@insane-abhi Yes sure, you can go ahead. But please make sure to submit within 2 days

[2018-10-07 07:51] sharanyakamath opened #118 "Hindi words to hexadecimal code"
### Description
Take the inputs as Hindi words from a file and convert each of them into hexadecimal values

### Details
- Technical Specifications: Any programming language
- Type of issue: Single
- Time Limit: 3 days

### Directory Structure
Create a folder of the programming language used inside 'text_to_hex' folder inside 'algorithms' folder. Save your program file and text file inside this as

[2018-10-07 07:53] Apoorva-13 commented on #118
I would like to work .

[2018-10-07 07:54] sharanyakamath commented on #118
@Apoorva-13 Go ahead

[2018-10-07 07:54] Apoorva-13 commented on #118
the hindi works would be like ' namaste ' and would be entered from command line?

[2018-10-07 07:55] sharanyakamath commented on #118
@Apoorva-13 Take the inputs from a text file.

[2018-10-07 07:56] Apoorva-13 commented on #118
ok thanks:)

[2018-10-07 08:11] Apoorva-13 commented on #118
I need to do this right , though this is not a hindi word.
A string like "Hello World" to hex format: 48656C6C6F20576F726C64.

[2018-10-07 08:32] SUMUKHA-PK commented on #27
Claiming python.

[2018-10-07 09:04] ShashankP19 commented on #33
@cemysf  each model requires a new pull request. Choose one of the models that you would want to work on. What model do you choose?

[2018-10-07 09:09] VithikShah commented on #94
I'm working on bubble sort in python

[2018-10-07 10:12] ShashankP19 opened #121 "Generative Adversarial Network(GAN) to recreate MNIST dataset."
### Description
In a Generative Adversarial Network (GAN), one neural network, called the generator, generates new data instances, while the other, the discriminator, evaluates them for authenticity; i.e. the discriminator decides whether each instance of data it reviews belongs to the actual training dataset or not.
Build a Generative Adversarial Network(GAN) to recreate MNIST dataset. It should

[2018-10-07 10:45] abhi7544 commented on #94
I wanna work on it

[2018-10-07 11:43] insane-abhi commented on #94
I have generated a pr for bubblesort in cpp

[2018-10-07 13:36] shutdown27 commented on #19
i would like to do it

[2018-10-07 15:36] SUMUKHA-PK commented on #28
Claiming python

[2018-10-07 16:05] Z0Marlin opened #127 "Permutations of a string"
### Description
Write a program  to print all permutations of a given string, given that no character in the string is repeated.

### Details
- Technical Specifications: Any programming language
- Type of issue: Multiple
- Time Limit: 5 days

### Directory Structure
Create a folder of your programming language inside the ```string_permutations``` folder in ```algorithms``` folder. Name the file as

[2018-10-07 16:41] RujutaKelkar commented on #9
Want to work on this!

[2018-10-07 17:01] FedeX15 commented on #127
Working on it

[2018-10-07 17:38] ThaysPrado commented on #33
I would like to work on this. I will use Decision Tree Classifier

[2018-10-08 00:01] AMosa3d commented on #33
Hey, I would like to work on MLP

[2018-10-08 05:56] rajat1433 commented on #29
claiming C++

[2018-10-08 06:01] rajat1433 commented on #18
Hello. I would like to claim this issue for python.

[2018-10-08 06:30] pvgupta24 commented on #18
@rajat1433 , go ahead :)

[2018-10-08 07:21] abhi7544 commented on #9
I want to work on it

[2018-10-08 09:11] rajat1433 commented on #29
Already submitted a pull request also.

[2018-10-08 11:04] rajat1433 commented on #18
Done!!

[2018-10-08 11:30] deepakkavoor commented on #28
I would like to claim this issue

[2018-10-08 14:13] bilalvur commented on #91
I would like to claim this issue for Ruby.

[2018-10-08 14:20] AmeyCaps commented on #16
I am working on it's implementation in C.

[2018-10-08 15:09] bilalvur commented on #33
I would like to work on random forest.

[2018-10-08 15:44] mehnazyunus commented on #12
Hi, I'd like to work on Gaussian Naive Bayes Classifier.

[2018-10-08 15:52] ShashankP19 commented on #33
@bilalvur You are assigned to work on Random Forest Classifier. Go ahead.

[2018-10-08 15:53] ShashankP19 commented on #12
Hi @mehnazyunus , you are assigned to work on Gaussian Naive Bayes Classifier. Go ahead.

[2018-10-08 17:18] jzes commented on #91
I Claim !
Added hello world for go!

[2018-10-08 17:55] cemysf commented on #33
Sorry for the late reply, I would like to work on Support Vector Classifier

[2018-10-08 18:21] Ram-Aditya commented on #16
@AmeyCaps  Sure, you can go ahead. But please make sure to make the pull request within 2 days.

[2018-10-08 18:49] aditigupta17 commented on #29
@rajat1433 you can work on it.

[2018-10-08 19:05] ShashankP19 commented on #33
@cemysf You are assigned to work on Support Vector Classifier. Go ahead.

[2018-10-08 21:14] #100 closed

[2018-10-09 00:32] shakeelsamsu commented on #12
Hi, I'd like to work on the Support Vector Classifier

[2018-10-09 01:17] sscode1 commented on #9
I would like to work on this

[2018-10-09 14:57] andymac-2 commented on #17
This is taking a little longer than I expected, but I should be done by tomorrow about this time.

[2018-10-09 15:53] singleparadox commented on #27
Claiming C

[2018-10-09 16:16] mahim23 commented on #27
@singleparadox Thank you for your interest but the C implementation has already been submitted and merged. Please work on some other implementation.

[2018-10-09 17:39] isijara opened #154 "Add a hello world program in kotlin"
### Description
Add a simple program that outputs "Hello world"

#### Note
Please claim the issue first by commenting here before starting to work on it.

[2018-10-09 17:39] isijara commented on #154
Work in progress

[2018-10-09 19:29] rohit-mp commented on #13
I would like to work on a solution in C

[2018-10-09 21:47] #22 closed

[2018-10-10 04:03] mehnazyunus commented on #1
Hi, I'd like to work on the Tensorflow implementation.

[2018-10-10 04:05] mahim23 commented on #1
@mehnazyunus sure go ahead!

[2018-10-10 11:32] pramathabhat commented on #154
I claim!

[2018-10-10 12:09] Madhuparna04 commented on #127
I want to take this issue in Python.

[2018-10-10 13:13] pvgupta24 commented on #127
@Madhuparna04 , go ahead :P

[2018-10-10 15:35] Ram-Aditya commented on #17
@andymac-2  Please try to submit by tomorrow else the implementation in C will have to be handed over to the next person who will request it.

[2018-10-10 15:36] Ram-Aditya commented on #16
@AmeyCaps Please try to submit by tomorrow, else the implementation in C will have to be handed over to the next person requesting it.

[2018-10-10 15:40] Ram-Aditya commented on #18
@ColesSA Sorry, since you haven't submitted a pull request within the time limit, we will be handing over the implementation in Java to the next person requesting it. Although you can still claim the implementation for either C or C++.

[2018-10-10 15:42] Ram-Aditya commented on #28
@SUMUKHA-PK  Sorry but since you haven't submitted a PR within the time limit, the implementation in Python will now be handed over to the next person requesting it. Although, you can request to claim the issue for C, C++ or Python.

[2018-10-10 22:32] nimbus98 opened #164 "Responsive Web Design"
# Responsive Web Design

![Image of Desktop](https://www.w3schools.com/Css/rwd_desktop.png)  ![Image of Tablet](https://www.w3schools.com/Css/rwd_tablet.png)  ![Image of Phone](https://www.w3schools.com/Css/rwd_phone.png)

Responsive web design (RWD) is an approach to web design that makes web pages render well on a variety of devices and window or screen sizes. Recent work also considers the view

[2018-10-11 02:41] SUMUKHA-PK commented on #28
Sorry but I had pending PRs in other directories and I can submit one at a time so I didnt work on it until they were cleared. Im claiming Python again.

[2018-10-11 16:29] 1337M0nst3r commented on #164
Working on this.

[2018-10-12 04:37] PoojithaR commented on #91
I claim!!

[2018-10-12 05:11] PoojithaR commented on #92
I claim!!

[2018-10-12 05:12] Prajna12 commented on #94
I am working on this using python

[2018-10-12 06:06] Ram-Aditya commented on #28
@SUMUKHA-PK  Yes sure, go ahead. But please make sure to follow the time limit.

[2018-10-12 06:08] SUMUKHA-PK commented on #28
Thanks.
Please do merge the above too.

[2018-10-12 06:15] Ram-Aditya commented on #16
@AmeyCaps  Sorry, but the implementation in C will now have to be handed over to the next person requesting it. Although you can still claim the issue for implementation in Java or Python.

[2018-10-12 06:51] Prajna12 commented on #92
I have implemented this using python.

[2018-10-12 06:51] mahim23 commented on #92
@PoojithaR @Prajna12 Sorry but this issue has been resolved completely. I'll be closing it now.

[2018-10-12 06:51] #92 closed

[2018-10-12 06:57] mahim23 commented on #154
@isijara Please this is a redundant issue so I'll be closing it.

[2018-10-12 06:57] #154 closed

[2018-10-12 07:47] pramathabhat commented on #29
Claiming Java

[2018-10-12 07:50] #89 closed

[2018-10-12 08:44] Prajna12 commented on #164
I am working on this!

[2018-10-12 09:03] Prajna12 commented on #127
I am working on this using python.

[2018-10-12 09:06] mahim23 commented on #164
@Prajna12 the issue has already been assigned to another person. You are welcome to work on some other issue.

[2018-10-12 09:19] sharanyakamath commented on #13
Closing this issue

[2018-10-12 09:19] #13 closed

[2018-10-12 09:30] PoojithaR commented on #10
i claim!!

[2018-10-12 09:37] archana98priya opened #175 "Implementation of Kruskal's Algorithm in C++"
### Description
Write a C++ program implementing Kruskal's algorithm.

### Details
- Technical Specifications: Language: C++
- Type of issue:  Single
- Time Limit: 4 days

### Resources
 Learn more about Kruskal's algorithm [here](https://en.wikipedia.org/wiki/Kruskal%27s_algorithm)

### Directory Structure
Add your file inside the kruskal_algo folder in algorithms folder and name it as <your_name

[2018-10-12 09:37] PoojithaR commented on #127
i claim!!

[2018-10-12 09:41] mahim23 commented on #10
@PoojithaR please create a pull request to **this** repository instead of your forked repository.

[2018-10-12 09:41] regstrtn commented on #175
Would like to work on this. Where do we add test cases?

[2018-10-12 09:43] archana98priya commented on #175
Go ahead. Add the test cases in the program itself as comments

[2018-10-12 09:44] PoojithaR commented on #175
I claim!!

[2018-10-12 09:46] Prajna12 commented on #175
I would like to work on this issue

[2018-10-12 09:47] Prajna12 commented on #91
I would like to implement this using C.

[2018-10-12 09:49] PoojithaR commented on #29
i claim

[2018-10-12 09:53] mahim23 commented on #175
@PoojithaR @Prajna12 The issue has already been claimed. You are welcome to work on any other issues in the repository.

[2018-10-12 09:56] mahim23 commented on #91
@Prajna12 Please create a pull request on this repository instead of your forked repository.

[2018-10-12 09:57] archana98priya opened #177 "Sum of natural numbers using recursion"
### Description
Write a program to calculate sum of natural numbers using recursion.

### Details
- Technical Specifications: C/C++/Python/Java
- Type of issue: Single
- Time Limit: 3 days

### Issue progress
- [ ] C
- [ ] C++
- [ ] Python
- [ ] Java

### Directory Structure
Create a folder of your programming language inside sum_rec folder in algorithms folder. Add your file in this folder and na

[2018-10-12 09:57] muvvasandeep commented on #175
I would like to work on it

[2018-10-12 10:03] muvvasandeep commented on #177
I would like to work on it

[2018-10-12 10:04] PoojithaR commented on #177
I claim!

[2018-10-12 10:06] mahim23 commented on #177
@muvvasandeep @PoojithaR  Sure. Please mention the language you'll be working with.

[2018-10-12 10:09] muvvasandeep commented on #177
I will be working with c++

[2018-10-12 10:17] Prajna12 commented on #177
I would like to work using C.

[2018-10-12 10:19] afsan7 commented on #177
I claim. I will be working on c.

[2018-10-12 10:30] mahim23 commented on #118
@Apoorva-13 Any updates on this?

[2018-10-12 10:38] Prajna12 commented on #127
I would like to work on this using Java.

[2018-10-12 10:39] Z0Marlin opened #182 "Implement an AVL tree"
### Description
Write a program that implements an AVL tree

### Details
- Technical Specifications: Any programming language
- Type of issue: Multiple
- Time Limit: 5 days

### Resources
Learn about AVL trees [here](https://en.wikipedia.org/wiki/AVL_tree)

### Directory Structure
Create a directory of your programming language inside the directory `algorithms/avl_tree/`. Under this directory subm

[2018-10-12 10:53] mahim23 commented on #127
@Prajna12 sure go ahead.

[2018-10-12 11:47] kshitijkohli commented on #177
I'd like to claim on sum.py

[2018-10-12 11:49] LHenrique42 commented on #177
I claim. I will be working on Python.

[2018-10-12 11:51] mahim23 commented on #177
@kshitijkohli sure.
@LHenrique42 Python implementation was just claimed by someone else. You are welcome to work on any other implementaion.

[2018-10-12 11:55] LHenrique42 commented on #177
Ok,  I will be working on Java.

[2018-10-12 11:56] mahim23 commented on #177
@LHenrique42 great you can go ahead with that 👍

[2018-10-12 12:18] pramathabhat commented on #16
I would like to work on this issue.

[2018-10-12 12:40] pramathabhat commented on #28
I would like to work on this issue in Java

[2018-10-12 14:46] Aj163 commented on #182
I would like to work on this issue

[2018-10-12 14:55] sukhbeer commented on #127
Working on it in Java

[2018-10-12 14:57] mahim23 commented on #182
@Aj163 sure :+1:

[2018-10-12 16:01] cemysf commented on #23
Hi, I would like to work on this

[2018-10-12 17:39] muvvasandeep commented on #26
I can work in nasm.

[2018-10-12 18:46] Aj163 opened #196 "Random Path on a Graph"
### Description
Let's implement a class `Graph` which has the following private data members
- Number of nodes, `|V(G)|`
- Number of edges, `|E(G)|`
- Adjacency list to represent the edges `E(G)`.

Also let this class have the following public member functions
- `addEgde(u, v)` : Add an edge from `u` to `v`. (Do check for invalid parameters).
- `addVertex()` : Adds a new vertex to the Graph `G`. (

[2018-10-12 19:03] sukhbeer commented on #94
I claim!!

[2018-10-13 05:11] e-xplorer commented on #177
My first contribution_with python.

[2018-10-13 05:51] GajeshS commented on #12
Hi, I would like to work on the MLP Implementation

[2018-10-13 08:01] bhuvanakundumani commented on #12
I would like to work on Random Forest Classifier.

[2018-10-13 12:00] GajeshS commented on #33
Hi, I would like to work on Quadratic Discriminant Analysis

[2018-10-13 12:12] utkarsh23 commented on #23
@cemysf sure you can
create a pull request referencing this issue

[2018-10-13 12:40] utkarsh23 opened #199 "Loading gradient animation"
### Description
![gradientloader](https://user-images.githubusercontent.com/12075549/46905420-83a13880-cf04-11e8-855f-6b8d6c72fe03.gif)
Sites like Medium and Facebook use gradient loaders as placeholders for actual content until the actual content itself is loaded. Your task is to create a similar gradient loader  **using CSS only**.

### Details
- Technical Specifications: CSS
- Type of issue: Si

[2018-10-13 13:01] syk007 commented on #91
I would like to implement in GO

[2018-10-13 14:27] syk007 commented on #16
I claim to implement in python

[2018-10-13 14:51] Ram-Aditya commented on #16
Yes sure you can go ahead. But please make sure to submit within the time
limit.

On 13 Oct 2018 19:57, "syk007" <notifications@github.com> wrote:

I claim to implement in python

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/WebClub-NITK/Hacktoberfest-2k18/issues/16#issuecomment-429546546>,
or mute the thread
<https:/

[2018-10-13 15:01] ShashankP19 commented on #33
@GajeshS You are assigned Quadratic Discriminant Analysis. Go ahead.

[2018-10-13 15:15] thomlom commented on #199
Hi, I'm interesting in achieving this task. Has anybody done it so far?

[2018-10-13 15:30] MJ10 commented on #199
Hi @thomlom you can go ahead and start working on the issue :)

[2018-10-13 16:01] thomlom commented on #199
That's done in the PR #202 :slightly_smiling_face:

[2018-10-13 16:37] MJ10 commented on #199
Issue Resolved

[2018-10-13 16:37] #199 closed

[2018-10-13 16:57] bhuvanakundumani commented on #12
Hi

I would like to work on Decision Tree Calssifier

[2018-10-13 18:33] syk007 commented on #16
I have done it kindly check it @Ram-Aditya

[2018-10-13 20:14] mishal23 commented on #164
Issue resolved.

[2018-10-13 20:14] #164 closed

[2018-10-14 08:18] ShashankP19 commented on #12
@bhuvanakundumani You are assigned Decision Tree Classifier. Go ahead.

[2018-10-14 09:34] Ram-Aditya commented on #26
@muvvasandeep  Please try submitting by tonight. Else, the nasm implementation will be made available to others.

[2018-10-14 09:48] ansen1701 commented on #177
id like to claim to work on c++

[2018-10-14 14:55] RhythmGilhotra commented on #177
I'd like to work on python

[2018-10-15 05:18] bhuvanakundumani commented on #12
Ok. Thanks

[2018-10-15 08:35] aditigupta17 opened #208 "Implement Vigenère Cipher"
### Description
Vigenère Cipher is a method of encrypting alphabetic text. It uses a simple form of polyalphabetic substitution. A polyalphabetic cipher is any cipher based on substitution, using multiple substitution alphabets .The encryption of the original text is done using the Vigenère square or Vigenère table.

- The table consists of the alphabets written out 26 times in different rows, eac

[2018-10-15 09:18] tradfursten commented on #208
I'll solve it in java

[2018-10-15 09:57] aditigupta17 commented on #208
Go ahead.

[2018-10-15 11:16] mehnazyunus commented on #29
Hi, I'd like to work on the C implementation.

[2018-10-15 11:41] mishal23 opened #209 "Convert strings to URL Slugs"
### Description
Many content management sites (CMS) have the titles of a post added to part of the URL for simple bookmarking purposes. For example, if you write a Medium post titled "How to use Github", it's likely the URL would have some form of the title string in it (".../how-to-use-github").

Write a function in Javascript such that it converts a string `title` and returns the hyphenated vers

[2018-10-15 12:04] SergiyGolov commented on #209
Hi, can I start working on this issue?

[2018-10-15 12:41] mishal23 commented on #209
@SergiyGolov yes sure.

[2018-10-15 13:07] #23 closed

[2018-10-15 13:14] SergiyGolov commented on #209
I've made a pull request, is my code OK for you?

[2018-10-15 15:31] JulianJason commented on #208
Hi I'll solve it in python

[2018-10-15 16:11] PoojithaR commented on #177
I did tge necessary changes!!
I created pull request on this repository instaed of my forked repository!

On Fri, Oct 12, 2018, 3:56 PM Mahim Agrawal <notifications@github.com>
wrote:

[2018-10-15 16:49] shubham050300 commented on #208
Hi
I would like to solve it in C.

[2018-10-15 19:12] shubham050300 commented on #94
I claim in C++.

[2018-10-16 00:35] prprhyt commented on #28
I claim C.

[2018-10-16 04:44] aditigupta17 commented on #208
@JulianJason go ahead.

[2018-10-16 04:45] aditigupta17 commented on #29
Go ahead.

[2018-10-16 04:47] aditigupta17 commented on #28
@prprhyt Go ahead.

[2018-10-16 04:57] aditigupta17 commented on #208
@shubham050300 Please make separate PRs.

[2018-10-16 05:04] #27 closed

[2018-10-16 05:18] aditigupta17 opened #217 "Implement One Time Pad"
### Description
The one-time pad (OTP) is an encryption technique that cannot be cracked, but requires the use of a one-time pre-shared key the same size as, or longer than, the message being sent. In this technique, a plaintext is paired with a random secret key (also referred to as a one-time pad). Then, each bit or character of the plaintext is encrypted by combining it with the corresponding b

[2018-10-16 05:27] aditigupta17 opened #218 "Implement Playfair Cipher"
### Description
The Playfair cipher encrypts pairs of letters (digraphs), instead of single letters.
The Playfair cipher starts with creating a key table. The key table is a 5×5 grid of letters that will act as the key for encrypting your plaintext. Each of the 25 letters must be unique and one letter of the alphabet (usually Q) is omitted from the table (as there are 25 spots and 26 letters in th

[2018-10-16 05:52] siddhartthecoder commented on #218
I am willing to contribute to this repo by writing codes of play faircipher in java

[2018-10-16 06:12] yogeshjoshi commented on #217
Im willing to contribute on this issue. (Lang: Python)

[2018-10-16 09:10] aditigupta17 commented on #217
@yogeshjoshi  Go ahead.

[2018-10-16 10:55] shubham050300 commented on #218
I would like to solve this in C++

[2018-10-16 12:50] Hansum opened #225 "Doing for C languange"
### Description
Please explain the issue here. Provide the requirements / specifications in detail and try to avoid ambiguity.

### Details
- Technical Specifications:
- Type of issue: [Single | Multiple] (A particular issue may have many subtasks or a possibity of different implementations, so won't be fulfilled by a single PR).
- Time Limit: This time limit will be enforced once someone has clai

[2018-10-16 17:22] aditigupta17 commented on #217
@andymac-2 Sure. Go ahead.

[2018-10-16 18:40] shubham050300 commented on #177
Even i would like to work on this in python.

[2018-10-17 05:32] #225 closed

[2018-10-17 05:56] bhuvanakundumani commented on #12
Hi,
Implemented the Decision tree classifier

[2018-10-17 09:40] GauriVN commented on #94
Bubblesort in C

[2018-10-17 10:38] shubham050300 commented on #91
I would like to implement this using C++.

[2018-10-17 13:57] GauriVN commented on #182
Claiming in C++

[2018-10-18 07:54] #29 closed

[2018-10-18 08:02] #28 closed

[2018-10-18 09:06] Ram-Aditya opened #242 "Round-robin process scheduling"
### Description
- Implement the round robin process scheduling algorithm for a time quantum of 2 microseconds.

- The input to your algorithm must be a 2-D array that contains values for 'Burst Time' and 'Arrival Time', for 20 processes. Initialize random values for each of the 2 attributes for each process and print this table.
- The expected output must contain the following details:
  +  The or

[2018-10-18 09:49] GajeshS commented on #1
Hi, I would like to work on the Pytorch implementation of K-Means Clustering.

[2018-10-18 09:57] Ram-Aditya opened #244 "Data hazard detection in assembly code"
### Description.
- Write a program to analyze and detect RAW( read after write ), WAR( write after read ) and WAW( write after write ) data hazards in a simple assembly code for a pipelined instruction execution.
- The sample assembly code that is to be used as input is present in the `testing_prog.txt` file in the `/systems/assembly/data_hazard_detection` directory.
- Assume that the assembly lan

[2018-10-18 12:53] #209 closed

[2018-10-18 17:08] Dibyadarshan commented on #244
I would like to take this up in Lisp.

[2018-10-18 17:08] 1337M0nst3r commented on #242
I'm gonna give this a try in C++

[2018-10-19 16:32] Ram-Aditya commented on #242
@1337M0nst3r  You can initialize a 2-D array which contains Burst Time and Arrival Time for 20 processes with random values that belong to the acceptable ranges, which has been mentioned in the issue description.

[2018-10-19 16:33] 1337M0nst3r commented on #242
@Ram-Aditya so I just create an array like described above each time to program is run?

[2018-10-19 16:40] Ram-Aditya commented on #242
@1337M0nst3r Yes.

[2018-10-19 16:40] 1337M0nst3r commented on #242
@Ram-Aditya thanks, I thought I got it wrong

[2018-10-19 19:37] KshitijMhatre commented on #217
I want to solve this for lang: Java

[2018-10-19 19:57] HrishikeshHB commented on #177
I will write in Java

[2018-10-20 14:34] 1337M0nst3r commented on #242
@Ram-Aditya sorry to bother you again but what did you mean by "at what time each process was scheduled"?

[2018-10-20 15:44] Ram-Aditya commented on #242
@1337M0nst3r A process can either be on the ready queue, i.e it has already arrived but is waiting for another process which is already executing to let go of CPU, or has been "scheduled" and is using the CPU. In a round-robin scheduling scenario, when a process's turn arrives, it will be scheduled and when it finishes executing on the CPU for a time interval equal to time quantum, it will be put

[2018-10-20 16:13] 1337M0nst3r commented on #242
@Ram-Aditya thanks for help!

[2018-10-21 13:34] PoojithaR commented on #94
i claim!! i'll be using python language

[2018-10-21 13:56] PoojithaR commented on #208
I claim!! I'll be using Python!!1

[2018-10-22 16:48] V-V-K commented on #94
I'll do it in C

[2018-10-22 16:58] PoojithaR commented on #177
I have made the necessary changes!! Please merge the PR !!

On Fri, Oct 12, 2018 at 3:56 PM Mahim Agrawal <notifications@github.com>
wrote:

[2018-10-22 23:35] GajeshS commented on #208
Hi
I would like to solve it in C.

[2018-10-24 16:31] aditigupta17 commented on #218
sure go ahead.

[2018-10-26 09:04] shivampotdar commented on #177
I claim!

[2018-10-26 09:05] shivampotdar commented on #91
I claim in C

[2018-10-26 09:54] grbagrbic commented on #177
I claim, python

[2018-10-26 16:37] MuriloAndre2000 commented on #121
I already did one, a DCGAN, if you want a gan to work with your data, I can share this one.
To a mnist gan I have to prepare it

[2018-10-26 16:39] GauriVN commented on #127
I would like to work on this in C++.

[2018-10-26 21:14] Madhuparna04 commented on #12
Hi ,I would like to work on KNN classifier

[2018-10-29 18:57] ShashankP19 commented on #12
@Madhuparna04  KNN classifier has already been taken. Choose some other classifier.

[2019-01-11 11:37] durlabhcodes commented on #91
Is there anything left here? I can see a PR for C. What about Go?

[2019-10-31 04:37] amithbhat1 commented on #182
I'd like to work on this

[2019-10-31 04:37] amithbhat1 commented on #182
I'd like to work on this in cpp